[
  {ehttpd, [
    {port, 18888},
    {docroot, "/www/"},
    {swagger, "priv/swagger/swagger-base.json"},
    {rewrite, "app/alinkdata/priv/rewrite.conf"},
    {expire, 1209600},
    {debug, true},
    {token_name, "token"},
    {access_control_allow_headers, "Origin, project, sessionToken, X-Requested-With, Content-Type, Accept, authorization, istoken"}
  ]},
  {alinkiot, [{plugins, [alinkalarm, alinkiot_tdengine]}]},
  {alinkdata, [
    {mysql, [
      [
        {pool,  default},
        {host, "alink-mysql"},
        {port, 3306},
        {user, "alinkiot"},
        {password, "a112345666"},
        {database, "alinkiot"},
        {pool_size, 10},
        {query_timeout, 30000},
        {connect_timeout, 30000},
        {keep_alive, true}
      ]
    ]}
  ]},
    {alinkiot_tdengine, [
        {host, "alink-tdengine"},
        {port, 6041},
        {username, "root"},
        {password, "taosdata"},
        {database, "alinkiot"},
        {pool_size, 20},
        {flush_interval, 1000},
        {flush_msg_len, 20}
    ]}
].
